ul{
    list-style-type: circle;
    border-left: 5px solid green;
    background-color: gray;
    padding: 15px 25px;
    font-size: 20px;
}

ol{
    background-color: rgb(146, 180, 180);
    list-style-type: georgian;
    padding: 15px;
    border: 2px solid gray;
}

ol li
{
    background-color: blanchedalmond;
    padding: 10px;
    margin-left: 30px;
    border-bottom: 1px solid green;
}
tbody tr:nth-child(even){
    background-color: pink;
}

tbody tr:nth-child(even){
    background-color: aqua;
}
td.th{
    border: 1px solid green;
    padding: 15px;
}


div{
    overflow: scroll;
    background-color: pink;
    width: 400px;
    height: 200px;

}